.ContenedorCounter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.NumeroCounter {
    font-weight: 900;
    font-size: 1rem;
    padding: 0 1rem;
}